body {
  font: 400 15px Lato, sans-serif;
  line-height: 1.8;
  color: #818181;
  margin: 0%;
}

h2 {
  font-size: 24px;
  text-transform: uppercase;
  color: #303030;
  font-weight: 600;
  margin-bottom: 30px;
}

h4 {
  font-size: 19px;
  line-height: 1.375em;
  color: #303030;
  font-weight: 400;
  margin-bottom: 30px;
}

.jumbotron {
  background-color: #d9d9d9;
  color: #fff;
  padding: 100px 25px;
  font-family: Montserrat, sans-serif;
  background-image: url(assets\Jumbotron-bg.png);
  background-size: cover;
  background-repeat: no-repeat;
  height: 100%;
}

.jumbotrn-cont {
  width: 50%;
  margin-left: auto;
  margin-right: auto;
}

.serv-main-cont {
  background-repeat: no-repeat;
  background-size: cover;
}

.row {
  margin-top: 50px;
}

.form-cont {
  width: 50%;
  margin-left: auto;
  margin-right: auto;
}

.container-fluid {
  padding: 60px 50px;
}

.bg-grey {
  background-color: #f6f6f6;
}

.logo-small {
  color: #d9d9d9;
  font-size: 50px;
}

.logo {
  color: #d9d9d9;
  font-size: 200px;
}

.navbar {
  margin-bottom: 0;
  background-color: #d9d9d9;
  z-index: 9999;
  border: 0;
  font-size: 12px !important;
  line-height: 1.42857143 !important;
  letter-spacing: 4px;
  border-radius: 0;
  font-family: Montserrat, sans-serif;
}

.navbar li a,
.navbar .navbar-brand {
  color: #fff !important;
}

.navbar-nav li a:hover,
.navbar-nav li.active a {
  color: #ef3a5d !important;
  background-color: #fff !important;
}

.navbar-default .navbar-toggle {
  border-color: transparent;
  color: #fff !important;
}
.serv-main-cont{
  margin-top: 50px;
}
.serv-cont{
  width: 50%;
  margin-left: auto;
  margin-right: auto;
}
.serv-cont-par{
  text-align: justify;
}
.glyphicon{
  color: #db6077;
}

footer .glyphicon {
  font-size: 20px;
  margin-bottom: 20px;
  color: #ef3a5d;
}

footer {
  background-color: #db6077;
  margin-top: -50px; 
  color: #fff;
 
}

/* MADISON'S STYLING START */
ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

#program-name-header {
  font-size: xx-large;
  text-align: center;
  display: inline-block;
}

#org-name-header {
  font-size: large;
  text-align: center;
  display: inline-block;
  margin-bottom: 10px;
}

.resource-container {
  margin-top: 100px;
  margin-bottom: 100px;
}

.resource-wrapper {
  margin: 10px auto;
}

.resource-box {
  border: 1px solid black;
  width: 800px;
  margin: 0 auto;
  padding: 20px;
}

.resource-grid {
  display: grid;
  grid-template-columns: 3fr 2fr;
  grid-template-areas:
    "resource-header resource-header"
    "resource-summary resource-hours-website"
    "resource-summary resource-address";
  column-gap: 20px;
}

.resource-header {
  grid-area: "resource-header";
  display: inline-block;
  text-align: center;
  width: 800px;
}

.resource-summary {
  grid-area: "resource-summary";
}

.resource-hours-website {
  grid-area: "resource-hours-website";
  word-break: break-all;
}

.resource-address {
  grid-area: "resource-address";
}

/* MADISON'S STYLING START */

@keyframes slide {
  0% {
    opacity: 0;
    transform: translateY(70%);
  }

  100% {
    opacity: 1;
    transform: translateY(0%);
  }
}

@-webkit-keyframes slide {
  0% {
    opacity: 0;
    -webkit-transform: translateY(70%);
  }

  100% {
    opacity: 1;
    -webkit-transform: translateY(0%);
  }
}

@media screen and (max-width: 768px) {
  .col-sm-4 {
    text-align: center;
    margin: 25px 0;
  }

  .btn-lg {
    width: 100%;
    margin-bottom: 35px;
  }
}

@media screen and (max-width: 480px) {
  .logo {
    font-size: 150px;
  }
}